.welcomme {
    background: #f0f1f6;
}

.welcomme h2 {
    color: #0F2B4E;
}

.welcomme .content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* توسيط عمودي في الشاشات الكبيرة */
}

.welcomme .content .text {
    color: #0F2B4E;
    font-size: 2vw;
    line-height: 1.5;
    padding-left: 60px;
    flex: 1;
}

.welcomme .content .image {
    text-align: center;
    flex: 1; /* تأخذ 1 من 2 من المساحة في الشاشات الكبيرة */
}

.welcomme .content img {
    max-width: 70%;
    height: auto;
    border-radius: 3.5vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-width: 3px;
    border-style: solid;
    border-color: #0F2B4E;
}

@media (max-width: 768px) {
    .welcomme .content {
        flex-direction: column; /* العناصر تحت بعض */
        align-items: center; /* توسيط أفقي */
        text-align: center; /* توسيط النص */
    }

    .welcomme .content .text {
        font-size: 1em; /* حجم خط مناسب للشاشات الصغيرة */
        padding: 15px; /* مساحة حول النص */
        text-align: center;
    }

    .welcomme .content .image {
        width: 100%; /* عرض كامل للصورة */
        margin-top: 20px; /* مسافة أعلى الصورة */
    }

    .welcomme .content img {
        max-width: 80%; /* عرض كامل للصورة */
        height: auto;
        border-radius: 5px; /* إزالة حواف الصورة */
    }
    .welcomme h2 {
        color: #0F2B4E;
        font-size: large;
    }
}