body {
  font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .upload-form {
    padding: 23px;
    background-color: #ffffff;
    margin: 4% auto;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 40px;
  }
  
  .container {
    padding: 20px;
    
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .header .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .header h1 {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #0f2b4e;
  }
  
  .input-group {
    margin-bottom: 15px;
    
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0f2b4e;
    font-size: 20px;
  }
  
  .input-group input[type="text"],
  .input-group input[type="date"],
  .input-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .input-group input[type="text"]:focus,
  .input-group input[type="date"]:focus,
  .input-group input[type="file"]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .submit-group {
    text-align: center;
  }
  
  .submit-group button {
    background-color: #0f2b4e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
  }
  
  .submit-group button:hover {
    background-color: #0F2B4E;
    box-shadow: 0 4px 10px #1e88e5;

  }
  

  /* Responsive Styles */
@media (max-width: 768px) {
  .upload-form {
    width: 80%; /* Wider form on medium screens */
    padding: 20px;
  }

  .header h1 {
    font-size: 26px; /* Smaller title font */
  }

  .input-group label {
    font-size: 18px; /* Smaller label font */
  }

  .input-group input[type="text"],
  .input-group input[type="date"],
  .input-group input[type="file"] {
    font-size: 14px; /* Smaller input font */
  }

  .submit-group button {
    font-size: 18px;
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .upload-form {
    width: 90%; /* Full width on small screens */
    padding: 15px;
  }

  .header .icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .header h1 {
    font-size: 22px;
  }

  .input-group label {
    font-size: 16px;
  }

  .input-group input[type="text"],
  .input-group input[type="date"],
  .input-group input[type="file"] {
    font-size: 14px;
  }

  .submit-group button {
    font-size: 16px;
    padding: 8px 12px;
  }
}

#goBackImage
{
  padding:10px ;
}