body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
  .upload-form {
    padding: 23px;
    background-color: hsl(0, 0%, 100%);
    margin: 4% auto 5% auto;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    color:#0F2B4E;
    font-size: 18px;
  }
  
  .container {
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .header .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group input[type="text"],
  .input-group input[type="date"],
  .input-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    box-sizing: border-box;
  }
  
  .input-group input[type="text"]:focus,
  .input-group input[type="date"]:focus,
  .input-group input[type="file"]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .submit-group {
    text-align: center;
  }
 .submit-group button {
    background-color: #0F2B4E;;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    width: 100%;
 }
  .submit-group button:hover {
    box-shadow: 0 4px 10px #1e88e5;
   }
#text {
    font-size: 30px;
    text-align: center;
    color:#0F2B4E;
}

.custom-popup {
  padding: 5px !important;  /* تقليل المسافات الداخلية */
}

  