.content {
    font-family: "Roboto Condensed", sans-serif;
}

.btnAddClass {
    position: absolute;
}

.btnAddClass {
    background: #0F2B4E;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    right: 10px;
    top: 15px;
    position: absolute;
}


/* Style the filter dropdowns */

.filter-section {
    display: flex;
    justify-content: center;
    /* Align items to the left */
    align-items: center;
    /* Vertically center the dropdowns */
    gap: 20px;
    /* Add spacing between the dropdowns */
    margin-bottom: 20px;
}

.filter-dropdown {
    display: inline-block;
}

.filter-dropdown select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 150px;
    background-color: #0F2B4E;
    color: #fefefe;
}

.filter-dropdown select:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.filter-dropdown select:focus option {
    background-color: white;
    /* Ensures white background on focus too */
    color: #0F2B4E;
}

.scedule {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px 25px 0px 25px;
}

table {
    margin-top: 10px;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    border-collapse: collapse;
    height: 700px;
}

thead th {
    width: 8.3%;
    font-weight: 600;
    color: #333;
    text-align: start;
}

.scedule td {
    padding: 14px 0px 14px 0px;
    text-align: center;
}

table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table th {
    background-color: #0f2b4e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

table tr td:first-child {
    font-weight: 500;
    font-size: 16px;
}

table tr {
    height: 15%;
}

.cell div {
    margin: 2PX;
    height: 100%;
    border: 1px solid #0f2b4e;
    border-radius: 10px;
    background-color: #cfd8e9;
    color: #0f2b4e;
    font-family: "Roboto Condensed", sans-serif;
}