/* style.css */
* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background: #f0f1f6; /* لون الخلفية */
}

/* ... (بقية أنماط CSS كما هي) */

.dean {
    /* padding: 2rem; */
    box-sizing: border-box;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.dean h2 {
    color: #0F2B4E;
    /*padding: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 4vw;
    margin-top: 1px;
    margin-left: 25px; */
}

.dean .content {
    display: flex;
    align-items: center;
    /* margin-bottom: 5rem; */
}

.dean .content .dean_text {
    color: #0F2B4E;
    font-size: 2vw;
    line-height: 1.5;
    padding-left: 60px;
    flex: 1;
}

.dean .content .image {
    text-align: center;
    flex: 1;
}

.dean .content img {
    max-width: 70%;
    height: auto;
    border-radius: 3.5vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-width: 3px;
    border-style: solid;
    border-color: #0F2B4E;
}

@media (max-width: 768px) {
    .dean .content {
        flex-direction: column; /* العناصر تحت بعض */
        align-items: center; /* توسيط أفقي */
    }

    .dean .content .dean_text {
        font-size: 1.2em; /* حجم خط مناسب للشاشات الصغيرة */
        padding: 20px; /* مساحة حول النص */
        text-align: center;
    }

    .dean .content .image {
        width: 70%; /* عرض 70% للصورة */
        margin-top: 20px; /* مسافة أعلى الصورة */
    }

    .dean .content img {
        max-width: 100%; /* عرض كامل داخل الحاوية */
        height: auto; /* الحفاظ على نسبة العرض إلى الارتفاع */
        border-radius: 5px; /* إزالة حواف الصورة (اختياري) */
    }
    .dean h2 {
        font-size: 15px; /* أو حجم الخط الذي تريده */
    }
}