body {
    background: #f0f1f6;
    margin: 0;
    padding: 0;
}

.departments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
}
/* #department-section
{
    font-size: large;
} */
.dep_t {
    font-family: "Roboto Condensed", sans-serif;
    color: #0F2B4E;
}

.department-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4vw;
}

.department {
    position: relative;
    text-align: center;
    transform: scale(1.03);
    transition: transform 0.2s;
}

.department:hover {
    transform: scale(1.1);
}

.department-image {
    width: 26vw;
    height: 17vw;
    border-radius: 3vw;
    box-shadow: 10px 10px 5px rgba(177, 185, 187);
    transition: transform 0.3s ease;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6, 44, 87, 0.5);
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 3vw;
}

.tex {
    color: white;
    font-size: 2.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .department-row {
        flex-direction: column; /* العناصر تحت بعض */
        align-items: center; /* توسيط العناصر أفقياً */
        width: 80%; /* عرض 80% من الشاشة */
        margin: 0 auto; /* توسيط الحاوية */
        gap: 4vw; /* مساحة بين العناصر */

    }

    .department {
        width: 100%; /* عرض 100% من الحاوية */
        margin-bottom: 20px; /* مساحة أسفل كل عنصر */
    }

    .department-image {
        width: 100%; /* عرض 100% من الحاوية */
        height: auto; /* الحفاظ على نسبة العرض إلى الارتفاع */
        border-radius: 3vw; /* نفس ال radius */
        box-shadow: 10px 10px 5px rgba(177, 185, 187); /* نفس ال box-shadow */
    }

    .tex {
        font-size: 1.5em; /* حجم خط مناسب للشاشات الصغيرة */
    }
    .dep_t.section-header {
        font-size: 17px; /* أو حجم أكبر حسب الحاجة */
        color: #0F2B4E;
    } 

}