.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#centeredText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#centeredText h3 {
    font-size: 40px;
    font-weight: bold;
    color: #0f2b4e;
    margin: 0;
}

.attendance-table th,
.attendance-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: #0f2b4e;
    font-family: "Roboto Condensed", sans-serif;
}

.attendance-table th {
    background-color: #0f2b4e;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.attendance-table tr {
    background-color: #ffffff;
}

p {
    margin: 20px 0;
    color: #0f2b4e;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.summary-title {
    color: #0f2b4e;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

table th i.bx {
    font-size: 12px;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.3s;
}


/*
.edit-button {
    text-decoration: none;
    color: #0f2b4e;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 5%;
}
    */

    /* Media Queries for Responsive Design */
@media (max-width: 768px) {
    #centeredText h3 {
        font-size: 1.8rem; /* Smaller font size for tablets */
    }

    .attendance-table {
        max-width: 100%; /* Allow the table to use full width */
    }

    .attendance-table th,
    .attendance-table td {
        padding: 4px; /* Reduce padding for smaller screens */
        font-size: 0.8rem; /* Further reduce font size for better fit */
    }
}

@media (max-width: 480px) {
    #centeredText h3 {
        font-size: 1.5rem; /* Smaller font size for mobile */
    }

    .attendance-table th,
    .attendance-table td {
        padding: 3px; /* Even less padding for mobile */
        font-size: 0.7rem; /* Further reduce font size for mobile devices */
    }

    p, .summary-title {
        font-size: 1rem; /* Keep smaller for mobile */
    }
}