
body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}
/*
#grades {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */



.name, .practicalDegree, .midtermDegree, .finalExamDegree,.sectionAttendance,.lectureAttendance {
    display: block; 
    margin-bottom: 20px; 
}

 input[type="text"], 
 input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; 
    box-sizing: border-box;
 }




#updateButton {
    border-radius: 5px;
    background-color: rgb(42, 165, 232);
    color: #fff;
    border: none;
    width: 100%;
    font-size: 16px;
    height: 40px;
    font-weight: bold;
}


 .grades-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.grades-table th,
.grades-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: #0f2b4e;
    font-family: "Roboto Condensed", sans-serif;
}

.grades-table th {
    background-color: #0f2b4e;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.grades-table tr {
    background-color: #ffffff;
}

/* .details-btn {
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #0f2b4e;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.details-btn.edit {
    background-color: #28a745;
}

.details-btn.delete {
    background-color: #dc3545;
} */




/* Style the filter dropdowns */
.filter-section {
    display: flex;
    justify-content: center; /* Align items to the left */
    align-items: center; /* Vertically center the dropdowns */
    gap: 20px; /* Add spacing between the dropdowns */
    margin-bottom: 20px;

}

.filter-dropdown {
    display: inline-block;
    
}

.filter-dropdown select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 150px;
    background-color: #0F2B4E;
    color: #fefefe;

}

.filter-dropdown select:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}
.filter-dropdown select:focus option {
    background-color: white;   /* Ensures white background on focus too */
    color: #0F2B4E;
}


