body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.cutom-box {
    background-color: hsl(0, 0%, 100%);
    margin: 4% auto 5% auto;
    max-width: 45%;
    box-shadow: 0 10px 10px rgba(5, 5, 5, 0.1);
    padding: 30px;
    border-radius: 15px;
    animation: fadeInRight 2s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.cutom-box.hide {
    display: none;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -5px 5px 10px gray;
    margin-right: 20px;
    padding: 5px;
    margin-top: -65px;
}

h1 {
    padding-left: 135px;
    padding-top: 15px;
    font-family: "Libre Baskerville", serif;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}

.home-box h3,
.home-box p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    font-weight: 400;
}

.home-box .btn {
    margin-top: 20px;
}

.btn {
    background-color: rgb(42, 165, 232);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
}

.btn:hover {
    box-shadow: 0 0 10px #0F2B4E;
    background-color: #0F2B4E;
}

/* Adjustments for mobile devices */
@media (max-width: 1024px) {
    .cutom-box {
        max-width: 70%;
        margin: 5% auto;
        padding: 20px;
    }

    h1 {
        padding-left: 0;
        text-align: center;
    }

    .profile-picture img {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }

    .home-box h3,
    .home-box p {
        font-size: 14px;
    }

    .quiz-box .question-text {
        font-size: 18px;
        line-height: 24px;
    }

    .quiz-box .option-container .option {
        padding: 10px;
        font-size: 14px;
    }

    .quiz-box .answers-indicator div {
        height: 30px;
        width: 30px;
    }
}

/* Smaller screens */
@media (max-width: 768px) {
    .cutom-box {
        max-width: 90%;
        margin: 5% auto;
    }

    h1 {
        font-size: 24px;
    }

    .quiz-box .question-text {
        font-size: 16px;
    }

    .quiz-box .option-container .option {
        font-size: 12px;
        padding: 8px;
    }

    .btn {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .cutom-box {
        max-width: 100%;
        margin: 5% auto;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .quiz-box .option-container .option {
        font-size: 12px;
        padding: 5px;
    }

    .btn {
        font-size: 12px;
        padding: 6px;
    }
}
