body {
    background-color: #f0f0f0;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
   
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0f2b4e;
}
.nav-items{margin-left: -150px;margin-top: -70px;}
.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 16px;
    color: #0f2b4e;
    font-weight: 500;
    font-size: 20px;
}

.filters input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    /* width: auto; */
    min-width: 150px;
    background-color: #0F2B4E;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    
}
select{

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    /* width: auto; */
    min-width: 150px;
    background-color: #0F2B4E;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
   margin-bottom: 10px;
}
option{
    color: #000;
    background-color: #fff;   
  }

.student-info {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: gray;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

#name 
{
    margin-right: 150px;
}

h3{padding-top: 20px;}